<!-- index.html -->
{% extends "./layout/_default.njk" %} <!-- we're extending the base template -->
{% import "./macros/_macros.njk" as macros %}

{% block title %}This is the new title of our webpage{% endblock %}
{% set page_description = "HTML 5 Template" %}

{% block content %}
<h1>You've made it. Now go build great things!?<h1>
<p>
 So long as there shall exist, by virtue of law and custom, decrees of damnation pronounced by society, artificially creating hells amid the civilization of earth, and adding the element of human fate to divine destiny; so long as the three great problems of the century—the degradation of man through pauperism, the corruption of woman through hunger, the crippling of children through lack of light—are unsolved; so long as social asphyxia is possible in any part of the world;—in other words, and with a still wider significance, so long as ignorance and poverty exist on earth, books of the nature of Les Misérables cannot fail to be of use.
</p>

{{ macros.youtube ('QILiHiTD3uc') }}

{% endblock %}
