<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %} <!-- title is set on the page --></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page_description }}">
    <meta name="author" content="BSch.io">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    {% block content %} <!--- content will be here -->
    {% endblock %}
    {% include "./../partials/_footer.njk" %}
  </body>
</html>
